/* Estilos generales */

/* --Set de FONTS usadas en el proyecto -- */

/* --Para TITULOS-- */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

/* --Para SUB-TITULOS y el MENÚ-- */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&family=Roboto:wght@900&display=swap');

/* -- Para PARRAFOS -- */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
/* --Fin de importacion de FONTS -- */

/* -- Reseteo de margenes de la pagina -- */

*
{
    margin: 0;
    padding: 0;
}

/*

*/
/*------------------*/
/* Menú desplegable */
/*------------------*/

/* Armo el boton del menú */

.iconoMenu
{
    width:35px;
    height:35px;
}

.boton {
    font-family: 'Roboto Mono', monospace;
    background-color: #000046;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .menu {
    position: relative;
    display: inline-block;
  }

  /* caja del menú desplegable, oculta por defecto y por encima de lo que haya debajo (z-index 1)*/
  .items 
  {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.25);
    z-index: 1;
  }
  
/* Formateo items del menú */

  .items a 
  {
    font-family: 'Roboto Mono', monospace;
    color: #000046;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
 
  /* Desplego menú al poner el puntero sobre le icono de menú */
  .menu:hover .items
  {
    display: block;
  } 

  /* Cambio el fondo y texto del item del menú al pasar el puntero sobre él */

  .items a:hover 
  {    
   background-color: #000046;
   color:#ffffff
  } 

/* Cambio fondo del boton al pasar puntero */

  .menú:hover .boton 
  {
    background-color: #000046;
  }

/* Fondo para la NAVBAR de bootstrap */

    .fondoMio
    {
        background: linear-gradient(to right,#000046, #1cb5e0); 
    }
/****************************************************/
    .logoPrinTo
    {
        margin: 5% 0 0 0;
    }
    .secciones
    {
        padding:2% 0 0 0;
        /* margin: 3% 0 0 0;*/
    }

/* ANIMACIONES SEGUNDA ENTREGA PROYECTO FINAL */

    .seccionAnima 
    {
        animation-name: seccion;
        animation-iteration-count: 1;
        animation-duration: 3s;
        animation-delay: 0s;
    }

    /* KEYFRAME = Linea de tiempo */
    @keyframes seccion 
    {
        from
        {
           transform: translateX(-12%); 
           opacity: 0;
        }
        to
        {
            transform: translateX(0);
            opacity: 1;
        }
    }

    .animaLogo 
    {
        animation-name: logoanimado;
        animation-iteration-count: 1;
        animation-duration: 12s;
        animation-delay: 3s;
    }

    @keyframes logoanimado 
    {
        0%
        {
        transform: translate(0);
        }
        30% 
        {
            transform: translate(100vw);
        }
        50% 
        {
            transform: translate(0);
        }
        75% 
        {
            transform: translate(100vw);
        }
        100%
        {
        transform: translate(0);
        }
    }

    .miFormulario
    {
        margin-top: 7%;
    }

    .bordes
    {
        border: solid 1px black;
    }

    .titContacto
    {
        background: linear-gradient(to right,#000046, #1cb5e0);
        font-family: 'Roboto', sans-serif;
    }

    /* DEFINO LOS ESTILOS DE COLOR DE LINK PARA EL INDEX */
    .LinkBlanco
    {
        color:white;
        text-decoration: none;
        font-size: 1.25rem
    }

    .LinkNegro
    {
        color:black;
        text-decoration: none;
        font-size: 1.25rem
    }

    /* Clases para el Mapa de Google en Bootstrap */

    .map-container
    {
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
    }

    .map-container iframe
    {
    left:0;
    top:0;
    height:80%;
    width:80%;
    position:absolute;
    }

/* Acordeon de FAQ */

    .contenedorAcordeon
    {
        grid-area:accordion;
    }

    .acordeon
    {
        margin: 0 0 1% 2%;
        font-family: 'Roboto Mono', monospace;
        background: linear-gradient(to right,#000046, #1cb5e0);
        max-width: 95%;
        border-radius: 0px;
        overflow: hidden;
    }

    .acordeon_etiqueta
    {
        padding:1% 1%;
        display: block;
        color:white;
        font-weight: 350;
        cursor: pointer;
        position:relative;
        transition: background 0.1s;
        
    }

    .acordeon_etiqueta:hover
    {
        background: #2a2255;
        color:white;
    }

    .acordeon_etiqueta::after 
    {
        content: "";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 20px;
        width: 12px;
        height: 6px;
        background-image: url('data:image/svg+xml;utf8,<svg width="100" height="50" xmlns="http://www.w3.org/2000/svg"><polygon points="0,0 100,0 50,50" style="fill:%23FFFFFF99;" /></svg>');
        background-size: contain;
        transition-delay: 0.5s;
    }

    .acordeon-contenido
    {
        background:linear-gradient(to right,#000046, #1cb5e0);
        color:white;
        margin-left:2%;
        display:none;
    }

    .acordeon_opcion
    {
        display:none;
    }

    .acordeon_opcion:checked ~ .acordeon-contenido
    {
        display:block;
    }

    .acordeon_opcion:checked ~ .acordeon_etiqueta::after
    {
        transform: translateY(-50%) rotate(0.5turn);
    }