/* Estilos generales */

/* --Set de FONTS usadas en el proyecto -- */

/* --Para TITULOS-- */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

/* --Para SUB-TITULOS y el MENÚ-- */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&family=Roboto:wght@900&display=swap');

/* -- Para PARRAFOS -- */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
/* --Fin de importacion de FONTS -- */

/* -- Reseteo de margenes de la pagina -- */
*
{
    margin: 0;
    padding: 0;
}
/*
body
{
    width: 100%;
    height: 100vh;
}
*/
/*------------------*/
/* Menú desplegable */
/*------------------*/

/* Armo el boton del menú */

.iconoMenu
{
    width:35px,;
    height:35px;
}

.boton {
    font-family: 'Roboto Mono', monospace;
    background-color: #000046;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .menu {
    position: relative;
    display: inline-block;
  }

  /* caja del menú desplegable, oculta por defecto y por encima de lo que haya debajo (z-index 1)*/
  .items 
  {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.25);
    z-index: 1;
  }
  
/* Formateo items del menú */

  .items a 
  {
    font-family: 'Roboto Mono', monospace;
    color: #000046;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
 
  /* Desplego menú al poner el puntero sobre le icono de menú */
  .menu:hover .items
  {
    display: block;
  } 

  /* Cambio el fondo y texto del item del menú al pasar el puntero sobre él */

  .items a:hover 
  {    
   background-color: #000046;
   color:#ffffff
  } 

/* Cambio fondo del boton al pasar puntero */

  .menú:hover .boton 
  {
    background-color: #000046;
  }

/* Fondo para la NAVBAR de bootstrap */

    .fondoMio
    {
        background: linear-gradient(to right,#000046, #1cb5e0); 
    }
/****************************************************/
    .logoPrinTo
    {
        margin: 5% 0 0 0;
    }
    .secciones
    {
        margin: 3% 0 0 0;
    }

/* ANIMACIONES SEGUNDA ENTREGA PROYECTO FINAL */

    .seccionAnima 
    {
        animation-name: seccion;
        animation-iteration-count: 1;
        animation-duration: 3s;
        animation-delay: 0s;
    }

    /* KEYFRAME = Linea de tiempo */
    @keyframes seccion 
    {
        from
        {
           transform: translateX(-12%); 
           opacity: 0;
        }
        to
        {
            transform: translateX(0);
            opacity: 1;
        }
    }

    .animaLogo 
    {
        animation-name: logoanimado;
        animation-iteration-count: 1;
        animation-duration: 12s;
        animation-delay: 3s;
    }

    @keyframes logoanimado 
    {
        0%
        {
        transform: translate(0);
        }
        30% 
        {
            transform: translate(100vw);
        }
        50% 
        {
            transform: translate(0);
        }
        75% 
        {
            transform: translate(100vw);
        }
        100%
        {
        transform: translate(0);
        }
    }































    .miFormulario
    {
        margin-top: 7%;
    }

    .bordes
    {
        border: solid 1px black;
    }

    .titContacto
    {
        background: linear-gradient(to right,#000046, #1cb5e0);
        font-family: 'Roboto', sans-serif;
    }
    /* DEFINO LOS ESTILOS DE COLOR DE LINK PARA EL INDEX */
    .LinkBlanco
    {
        color:white;
        text-decoration: none;
        font-size: 1.25rem
    }

    .LinkNegro
    {
        color:black;
        text-decoration: none;
        font-size: 1.25rem
    }

    

    /* Clases para el Mapa de Google en Bootstrap */

    .map-container
    {
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
    }

    .map-container iframe
    {
    left:0;
    top:0;
    height:80%;
    width:80%;
    position:absolute;
    }

/* Scroll de Texto para nosotros.html */
#scroll-container {
    border: 3px solid black;
    border-radius: 5px;
    overflow: hidden;
  }
  
  #scroll-text {
    /* animation properties */
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    
    -moz-animation: my-animation 15s linear infinite;
    -webkit-animation: my-animation 15s linear infinite;
    animation: my-animation 15s linear infinite;
  }
  
  /* for Firefox */
  @-moz-keyframes my-animation {
    from { -moz-transform: translateX(100%); }
    to { -moz-transform: translateX(-100%); }
  }
  
  /* for Chrome */
  @-webkit-keyframes my-animation {
    from { -webkit-transform: translateX(100%); }
    to { -webkit-transform: translateX(-100%); }
  }
  
  @keyframes my-animation {
    from {
      -moz-transform: translateX(100%);
      -webkit-transform: translateX(100%);
      transform: translateX(100%);
    }
    to {
      -moz-transform: translateX(-100%);
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
    }
  












/*--------------------------------------------------------------------*/
/*--------------------------------------------------------------------*/
/*--------------------------------------------------------------------*/
/*--------------------------------------------------------------------*/
/*--------------------------------------------------------------------*/
/*       a partir de aca tratamos de hacerlo responsive...                  */
/*                  ELEGIMOS HACERLO MOBILE FIRST                     */
/*                            Celulares                               */
/*--------------------------------------------------------------------*/  
/*--------------------------------------------------------------------*/
/*--------------------------------------------------------------------*/
/*--------------------------------------------------------------------*/
/*--------------------------------------------------------------------*/

@media (max-width: 480px)
{
    .cabeceraComun
    { 
        width:100vw;
        text-decoration-color: #ffffff;
        background: linear-gradient(to right,#000046, #1cb5e0);  
        margin-bottom: 5px;
    }
 
    body
    {
        width: 100%;
        height: 100vh;
    }

/* GRID DEL INDEX (CELULARES) */

    #IndexGrid
    {
        display:grid;
        grid-template-columns: 100%;
        grid-template-rows: 16% 19% 66% 2%;
        grid-template-areas:
        "logo-empresa"
        "titulo-seccion"
        "caja-izquierda"
        "el-pie"
        ;
        grid-row-gap: 2%;
    }

/* GRID DE NOSOTROS (CELULARES)  */

    .nosotrosGrid
    {
        display:grid;
        grid-template-columns: 100%;
        grid-template-rows: 13% auto auto auto;
        grid-row-gap: 3%;
        grid-template-areas:
        "foto-personal"
        "titulo-seccion"
        "quienes-somos"
        "la-mision"
        "la-vision"
        "el-pie"
        ;
    }
 
/* GRID DE SERVICIOS (CELULARES) */

    .serviciosGrid
    {
        display:grid;
        grid-template-columns: 100%;
        grid-template-rows: 9% 40% 30% 30% 2%;
        grid-row-gap: 1%;
        grid-template-areas:
        "logo-empresa"
        "primer-servicio"
        "segundo-servicio"
        "tercer-servicio"
        "el-pie"
        ;
    }
 
     
/* GRID DE LAS FAQ  (CELULARES) */

    .faqGRID
    {
        display:grid;
        grid-template-columns: 100%;
        grid-template-rows: 25% auto;
        grid-row-gap: 1%;
        grid-template-areas:
        "accordion"
        "el-pie"
        ;
    }

/* GRID DE CONTACTO  (CELULARES) */

    .contactoGrid
    {
        display:grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 5% 25% 13% 30% auto;
        grid-row-gap: 1%;
        grid-template-areas:
        "tit-contacto tit-contacto"
        "el-mapa el-mapa"
        "datos-contacto redes"
        "formulario formulario"
        "el-pie el-pie"
        ;
    }

    .logoEmpresa
    {
        display:inline-block;
    }   

    .videoPortada
    {
        display:none;
    }

    .imgCabecera
    {
        display:none;
    }

    .imgCabeceraNosotros
    {
        display:none;
        margin-bottom: 1%;
    }

    .imgCabeceraServ
    {
        display:none;
        margin-bottom: 1%;
    }

    .imgCabeceraContacto
    {
        display:flex;
        width:90%;
        height: auto;
        justify-content: center;
        margin: 0 0 0 2%;
    }

    .imagen-personal
    {
        width:100vw;
        height: auto;
    }

    .fotoPersonal
    {
        grid-area:foto-personal;
        display:inline-block;
        width: 100%;
    }

    .tituloSeccion
    {
        grid-area: titulo-seccion;
        font-family: 'Roboto', sans-serif;
        margin-left: 1%;
    }

    .subtitulo
    {
        font-family: 'Roboto Mono', monospace;
        margin-left: 1%; 
        margin-bottom: 0.5%; 
    }

    .parrafos
    {
        display:block;
        font-family: 'Roboto Condensed', sans-serif;
        font-size: larger;
        padding: 0.5%;
    }

    .cajaIzquierda
    {
        grid-area: caja-izquierda;
        float: left;
        text-align: left;
        left: 0.5%;
        bottom: 2%;
        margin-left: 0.5%;
        margin-right: 5%;
    }

    .quienesSomos
    {
        grid-area: quienes-somos;
        float: left;
        text-align: left;
        left: 0.5%;
        bottom: 2%;
        margin-left: 0.5%;
        margin-right: 5%;

    }

    .mision
    {
        grid-area:la-mision;
        float: left;
        text-align: left;
        left: 0.5%;
        bottom: 2%;
        margin-left: 0.5%;
        margin-right: 5%;
    }

    .vision
    {
        grid-area: la-vision;
        float: left;
        text-align: left;
        left: 0.5%;
        bottom: 2%;
        margin-left: 0.5%;
        margin-right: 5%;
    }

    .pie
    {
        grid-area: el-pie;
        font-family: 'Roboto', sans-serif;
        text-align: center;
        text-decoration-color: #ffffff;
        color:#ffffff;
        background: linear-gradient(to right,#000046, #1cb5e0);
    }
    .primerServicio
    {
        grid-area:primer-servicio;
        margin:2% 0 0 0;
    }

    .segundoServicio
    {
        grid-area: segundo-servicio;
        margin:2% 0 0 0;
    } 

    .tercerServicio
    {
        grid-area:tercer-servicio;

        margin:2% 0 0 0;
    } 

    .textoServicios1
    {
        font-family: 'Roboto', sans-serif;
        font-weight: 100;
        width:80vw;
        text-align: left;
        float:left;
        padding: 0,5vw;
    }

    .textoServicios2
    {
        font-family: 'Roboto', sans-serif;
        font-weight: 100;
        width:80vw;
        text-align: left;
        float:left;
        padding: 0,5vw;
    }

    .textoServicios3
    {
        font-family: 'Roboto', sans-serif;
        font-weight: 100;
        width:80vw;
        text-align: left;
        float:left;
        padding: 0,5vw;
    }

    .imgServicios1
    {
        display:none;;

    }

    .imgServicios2
    {
       display:none;
    }

    .imgServicios3
    {
        display:none;

    }
    /* ACORDEON de las FAQ (CELULARES) */

    .contenedorAcordeon
    {
        grid-area:accordion;
    }

    .acordeon
    {
        margin: 0 0 1% 2%;
        font-family: 'Roboto Mono', monospace;
        background: linear-gradient(to right,#000046, #1cb5e0);
        max-width: 95%;
        box-shadow: 0 0 10 rgb(39, 35, 35);
        border-radius: 0px;
        overflow: hidden;
    }

    .acordeon_etiqueta
    {
        padding:1% 1%;
        display: block;
        color:white;
        font-weight: 350;
        cursor: pointer;
        position:relative;
        transition: background 0.1s;
        
    }

    .acordeon_etiqueta:hover
    {
        background: #2a2255;
        color:white;
    }

    .acordeon_etiqueta::after 
    {
        content: "";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 20px;
        width: 12px;
        height: 6px;
        background-image: url('data:image/svg+xml;utf8,<svg width="100" height="50" xmlns="http://www.w3.org/2000/svg"><polygon points="0,0 100,0 50,50" style="fill:%23FFFFFF99;" /></svg>');
        background-size: contain;
        transition: transform 0.5;
    }

    .acordeon-contenido
    {
        background:linear-gradient(to right,#000046, #1cb5e0);
        color:white;
        margin-left:2%;
        display:none;
    }

    .acordeon_opcion
    {
        display:none;
    }

    .acordeon_opcion:checked ~ .acordeon-contenido
    {
        display:block;
    }

    .acordeon_opcion:checked ~ .acordeon_etiqueta::after
    {
        transform: translateY(-50%) rotate(0.5turn);
    }

    .contacto
    {
        grid-area:tit-contacto;
        color: #ffffff ;
        background: linear-gradient(to right,#000046, #1cb5e0);
        font-family: 'Roboto', sans-serif;
        height:50px;
        width:100%;
    }

    .columnaDerecha
    {
        float:relative;
    }

    .datosContacto
    {
        grid-area:datos-contacto;
        float: left;
        font-family: 'Roboto Mono', monospace;
        padding:2%;
        text-align:right;
        margin-left: 12%;
    }

    .rrss
    {
        grid-area:redes;
    }

    .icono-rss
    {
        font-family: 'Roboto Mono', monospace;
    }   

    .googlemaps
    {
        grid-area:el-mapa;
    }

 /* MAPA CELULARES */

    .mapa
    {
        float:left;
        width:85%;
        height:auto;
        margin-top:30px;
        margin-left:20px;
        box-shadow: 2% 2% 1% grey;
    }

    .miFormulario
    {
        grid-area:formulario;
    }

    /* FORMULARIO (CELULARES)*/

    .formulario
    {   
        width:100%;
        background: linear-gradient(to right,#000046, #1cb5e0);
        font-family: 'Roboto Mono', monospace;
        color: white;   
        padding:2%;
    }

    .campo
    {
        font-family: 'Roboto Mono', monospace;
        font-size: medium;
        padding: 10px;
    }

    .input-formulario
    {
        margin:1% 0 0 2%;
    }

    .textosFormulario
    {
        float: left;
        font-family: 'Roboto Mono', sans-serif;
        margin:0 0 0 30px;
    }

}

/*--------------------------------------------------------------------*/
/*--------------------------------------------------------------------*/
/*--------------------------------------------------------------------*/
/*--------------------------------------------------------------------*/
/*--------------------------------------------------------------------*/
/*                 SMARTPHONES GRANDES y TABLETS                      */
/*--------------------------------------------------------------------*/
/*--------------------------------------------------------------------*/
/*--------------------------------------------------------------------*/
/*--------------------------------------------------------------------*/
/*--------------------------------------------------------------------*/

@media (min-width: 481px) and (max-width: 1023px)
{

    .cabeceraComun
    { 
        width:100vw;
        text-decoration-color: #ffffff;
        background: linear-gradient(to right,#000046, #1cb5e0);  
        margin-bottom: 5px;
    }
 
    body
    {
        width: 100%;
        height: 100vh;
    }

    #IndexGrid
    {
        
        display:grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 11% 12% 23% auto;
        grid-template-areas:
        "logo-empresa logo-empresa"
        "titulo-seccion titulo-seccion"
        "img-cabecera img-cabecera"
        "caja-izquierda caja-izquierda"
        "video-portada video-portada"
        "el-pie el-pie"
        ;
        grid-row-gap: 1%;
   
    }

    /* GRID DE NOSOTROS */
    #NosotrosGrid
    {
        display:grid;
        grid-template-columns:50% 25% auto;
        grid-template-rows: 25% 25% 25% auto;
        grid-template-areas:
        "logo-empresa   img-cabecera   img-cabecera   ."
        "foto-personal foto-personal none none "
        "none none none none"
        "el-pie         el-pie         el-pie         el-pie"
        ;
        grid-row-gap: 2%;
    }
    .serviciosGrid
    {
        display:grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 7% 31% 25% 25% 8%;
        grid-row-gap: 1vh;
        grid-template-areas:
        "logo-empresa img-cabecera"
        "primer-servicio imgServ1 "
        "imgServ2 segundo-servicio"
        "tercer-servicio imgServ3"
        "el-pie el-pie"
        ;
    }
      
    /* GRID DE LAS FAQ */

    .faqGRID
    {
        display:grid;
        grid-template-columns: 100%;
        grid-template-rows: 25% auto;
        grid-row-gap: 1%;
        grid-template-areas:
        "accordion"
        "el-pie"
        ;
    }  

    /* GRID DE CONTACTO  (TABLETS) */

    .contactoGrid
    {
        display:grid;
        grid-template-columns: 33% 33% 33%;
        grid-template-rows: 7% 15% 25% auto;
        grid-row-gap: 1%;
        grid-template-areas:
        "tit-contacto   tit-contacto   tit-contacto"
        "datos-contacto datos-contacto redes"
        "el-mapa        el-mapa        el-mapa"
        "formulario     formulario     formulario"
        "el-pie         el-pie         el-pie"
        ;
    }

    .logoEmpresa
    {
        grid-area: logo-empresa;
        width:238px;
        height:92px;
        float: left;
    }

/* -- Imagen de CABECERA servicios no se muestra en tablet -- */

    .imgCabeceraServ
    {
        display:none;
    }

    .imgCabeceraContacto
    {
        display:inline-block;
        width:100%;
        margin-bottom: 1%;;
    }


    .imgCabecera
    {
        display:inline-block;
        width:175%;
        margin-bottom: 1%;;
    }

    /* Caja con sombra  */

    .conSombra
    {
        box-shadow: 2px 2px 1px grey ;
    }

    /* -- Formateo TITULO de SECCION -- */
    .tituloSeccion
    {
        grid-area: titulo-seccion;
        font-family: 'Roboto', sans-serif;
        margin-left: 1%;
        
    }
    
    .subtitulo
    {
        font-family: 'Roboto Mono', monospace;
        margin-left: 1%; 
        margin-bottom: 0.5%;
        text-align: left; 
        justify-content: left;
    }

    /* -- Formateo PARRAFOS -- */

    .parrafos
    {
        font-family: 'Roboto Condensed', sans-serif;
        padding: 0.5%;
        text-align: left;
    }

    .cajaIzquierda
    {
        grid-area: caja-izquierda;
        display:flex;
        float: left;
        text-align: right;
        left: 0.5vw;
        margin-left: 0.5vw;
        margin-right: 5vw;
    }
    .videoPortada
    {
        grid-area: video-portada;
        display:flex;
        align-items: center;
        justify-content: center;
        margin: 2%;
        width: 98%;  
        height: 45vw;
        border-style: hidden;
    }

    .imagen-personal
    {
        display:inline-block;
        width:80vw;
        margin-left: 5%;
    }   

    /* -- Formateo tabla SERVICIOS -- */
    .primerServicio
    {
        grid-area:primer-servicio;
        margin:2% 0 0 0;
    }

    .segundoServicio
    {
        grid-area:segundo-servicio;
        margin:2% 0 0 0;
    } 

    .tercerServicio
    {
        grid-area:tercer-servicio;
        margin:2% 0 0 0;
    } 

    .textoServicios1
    {

        font-family: 'Roboto', sans-serif;
        font-weight: 100;
        width:95%;
        text-align: right;
        display: inline-block; 
    }

    .textoServicios2
    {
        font-family: 'Roboto', sans-serif;
        font-weight: 100;
        width:95%;
        text-align: left;
        display: inline-block; 
    }

    .textoServicios3
    {
        font-family: 'Roboto', sans-serif;
        font-weight: 100;
        text-align: right;
        display: inline-block; 
        float:left;
    }

    .boxImgServ1
    {
        grid-area:imgServ1;
    }

    .imgServicios1
    {
        width:85%;
        padding:10% 0 0 10%;
    }

    .boxImgServ2
    {
        grid-area:imgServ2;
    }

    .imgServicios2
    {
        width:85%;
        float: left;
    }

    .boxImgServ3
    {
        grid-area:imgServ3;

    }

    .imgServicios3
    {
        width:85%;
        height: auto;
        padding:19% 0 0 6%;

    }
/* ACORDEON de las FAQ (TABLETS) */

.contenedorAcordeon
{
    grid-area:accordion;
}

.acordeon
{
    margin: 0 0 1% 2%;
    font-family: 'Roboto Mono', monospace;
    background: linear-gradient(to right,#000046, #1cb5e0);
    max-width: 95%;
    box-shadow: 0 0 10 rgb(39, 35, 35);
    border-radius: 0px;
    overflow: hidden;
}

.acordeon_etiqueta
{
    padding:1% 1%;
    display: block;
    color:white;
    font-weight: 350;
    cursor: pointer;
    position:relative;
    transition: background 0.1s;
    
}

.acordeon_etiqueta:hover
{
    background: #2a2255;
    color:white;
}

.acordeon_etiqueta::after 
{
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    width: 12px;
    height: 6px;
    background-image: url('data:image/svg+xml;utf8,<svg width="100" height="50" xmlns="http://www.w3.org/2000/svg"><polygon points="0,0 100,0 50,50" style="fill:%23FFFFFF99;" /></svg>');
    background-size: contain;
    transition: transform 0.4s;
}

.acordeon-contenido
{
    background:linear-gradient(to right,#000046, #1cb5e0);
    color:white;
    margin-left:2%;
    display:none;
}

.acordeon_opcion
{
    display:none;
}

.acordeon_opcion:checked ~ .acordeon-contenido
{
    display:block;
}

.acordeon_opcion:checked ~ .acordeon_etiqueta::after
{
    transform: translateY(-50%) rotate(0.5turn);
}

    /* -- Formato  NOSOTROS -- */

    .tablanosotros
    {
        padding:20px;
        margin-left: auto;
        margin-right: auto;
    }

    /* Estilos CONTACTO.HTML */

    .contacto
    {
        grid-area:tit-contacto;
        color: #ffffff ;
        background: linear-gradient(to right,#000046, #1cb5e0);
        font-family: 'Roboto', sans-serif;
        height:50px;
        width:100%;
    }

    .columnaDerecha
    {
        float:relative;
    }

    .datosContacto
    {
        grid-area:datos-contacto
        float: left;
        font-family: 'Roboto Mono', monospace;
        padding:2%;
        text-align:right;
        margin-left: 12%;
    }

    .rrss
    {
        grid-area:redes;
    }

    .icono-rss
    {
        font-family: 'Roboto Mono', monospace;
    }   

    .googlemaps
    {
        grid-area:el-mapa;
    }

    .mapa
    {
        display:flex;
        width: 98%;
        height: auto;
        float:left;
        justify-content: center;
        box-shadow: 12px 12px 5px grey;
    }

    .miFormulario
    {
        grid-area:formulario;
    }

    /* FORMULARIO (TABLETS) */

    .formulario
    {   
        width:100%;
        background: linear-gradient(to right,#000046, #1cb5e0);
        font-family: 'Roboto Mono', monospace;
        color: white;   
        padding:2%;
    }

    .campo
    {
        font-family: 'Roboto Mono', monospace;
        font-size: medium;
        padding: 10px;
    }

    .input-formulario
    {
        margin:3px 0 0 30px;
    }

    .textosFormulario
    {
        float: left;
        font-family: 'Roboto Mono', sans-serif;
        margin:0 0 0 30px;
    }

    /* ACORDEON de las FAQ (TABLETS)*/

    .acordeon
    {
        margin: 0 0 1% 2%;
        font-family: 'Roboto Mono', monospace;
        background: linear-gradient(to right,#000046, #1cb5e0);
        max-width: 95%;
        box-shadow: 0 0 10 rgb(39, 35, 35);
        border-radius: 0px;
        overflow: hidden;
    }

    .acordeon_etiqueta
    {
        padding:1% 1%;
        display: block;
        color:white;
        font-weight: 350;
        cursor: pointer;
        position:relative;
        transition: background 0.1s;
        
    }

    .acordeon_etiqueta:hover
    {
        background: #2a2255;
        color:white;
    }

    .acordeon_etiqueta::after 
    {
        content: "";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 20px;
        width: 12px;
        height: 6px;
        background-image: url('data:image/svg+xml;utf8,<svg width="100" height="50" xmlns="http://www.w3.org/2000/svg"><polygon points="0,0 100,0 50,50" style="fill:%23FFFFFF99;" /></svg>');
        background-size: contain;
        transition: transform 0.4s;
    }

    .acordeon-contenido
    {
        background:linear-gradient(to right,#000046, #1cb5e0);
        color:white;
        margin-left:2%;
        display:none;
    }

    .acordeon_opcion
    {
        display:none;
    }

    .acordeon_opcion:checked ~ .acordeon-contenido
    {
        display:block;
    }

    .acordeon_opcion:checked ~ .acordeon_etiqueta::after
    {
        transform: translateY(-50%) rotate(0.5turn);
    }

    /* PIE DE PAGINA */

    .pie
    {
        grid-area: el-pie;
       /* position: relative;*/
        /* top:70vh; */
        margin-top:10%;
        font-family: 'Roboto', sans-serif;
        /*font-size: 33px;*/
        text-align: center;
        text-decoration-color: #ffffff;
        color:#ffffff;
        background: linear-gradient(to right,#000046, #1cb5e0);
    }
} 

/*--------------------------------------------------------------------*/
/*--------------------------------------------------------------------*/
/*--------------------------------------------------------------------*/
/*                                                                    */
/*                         D E S K T O P                              */
/*                                                                    */
/*--------------------------------------------------------------------*/
/*--------------------------------------------------------------------*/
/*--------------------------------------------------------------------*/


@media (min-width: 1024px)
{
    .cabeceraComun
    { 
        width:100vw;
        text-decoration-color: #ffffff;
        background: linear-gradient(to right,#000046, #1cb5e0);  
        margin-bottom: 5px;
    }
 
    body
    {
        width: 100%;
        height: 100vh;
    }

    #IndexGrid
    {
        display:grid;
        grid-template-columns: 25% 25% 25% 25%;
        grid-template-rows: 15% 25% 35% auto;
        grid-template-areas:
        "logo-empresa   img-cabecera   img-cabecera   ."
        "titulo-seccion titulo-seccion titulo-seccion ."
        "caja-izquierda caja-izquierda video-portada  . "
        "el-pie         el-pie         el-pie         el-pie";
    }

    /* GRID DE NOSOTROS */

    #NosotrosGrid
    {
        display:grid;
        grid-template-columns: 25% 25% 25% auto;
        grid-template-rows: 25% 25% 25% auto;
        grid-template-areas:
        "logo-empresa   img-cabecera   img-cabecera   ."
        "foto-personal  foto-personal foto-personal foto-personal "
        "none none none none"
        "el-pie         el-pie         el-pie         el-pie"
        ;
        grid-row-gap: 2%;
    }

    /* GRID DE CONTACTO  (desktp) */

    .contactoGrid
    {
        display:grid;
        grid-template-columns: 30% 70%;
        grid-template-rows: 5% 20% 20% auto;
        grid-row-gap: 1%;
        grid-template-areas:
        "tit-contacto tit-contacto"
        "datos-contacto el-mapa"
        "redes el-mapa"
        "formulario formulario"
        "el-pie el-pie"
        ;
    }

    .logoEmpresa
    {
        grid-area: logo-empresa;
        width:238px;
        height:92px;
        float: left;
    }
/* -- Formato de la imagen de CABECERA -- */
    .imgCabecera
    {
        grid-area: img-cabecera;
        width:578px;
        height:92px;
        /*margin-left:10%;*/
        box-align:"middle"
    }
    .imgCabeceraServ
    {
        grid-area: img-cabecera;
        width:578px;
        height:92px;
        /*margin-left:10%;*/
        box-align:"middle"
    }
    
/* Caja con sombra  */
    .conSombra
    {
        box-shadow: 2px 2px 1px grey ;
    }
    /* -- Formateo TITULO de SECCION -- */
    .tituloSeccion
    {
        grid-area: titulo-seccion;
        font-family: 'Roboto', sans-serif;
        margin-left: 1%;
        
    }
    
    .subtitulo
    {
        font-family: 'Roboto Mono', monospace;
        margin-left: 1%; 
        margin-bottom: 0.5%; 
    }

    /* -- Formateo PARRAFOS -- */
    .parrafos
    {
        font-family: 'Roboto Condensed', sans-serif;
        padding: 0.5%;
    }

    .cajaIzquierda
    {
        display:flex;
        grid-area: caja-izquierda;
        float: left;
        text-align: right;
        left: 0.5%;
        bottom: 10px;
        margin-left: 0.5%;
        margin-right: 5%;
    }

    .videoPortada
    {
        grid-area: video-portada;
        margin: 2%;
        width: 500px;  
        height: 299px;
        border-style: hidden;
    }

    .imagen-personal
    {
        display:inline-block;
        margin-top: 5%;
        margin-left: 10%;
    }  

   .pesonalMovile
    {
        display none;
    }

    /* -- Formateo tabla SERVICIOS -- */
    .primerServicio
    {
        grid-area:primer-serv;
        margin:2% 0 0 0;
    }

    .segundoServicio
    {
        margin:2% 0 0 0;
    } 

    .tercerServicio
    {
        margin:2% 0 0 0;
    } 

    .textoServicios1
    {
        font-family: 'Roboto', sans-serif;
        font-weight: 100;
        width:450px;
        text-align: right;
        display: inline-block; 
        float:left;
        padding:30px;
        margin 100px 0 0 0 
    }

    .textoServicios2
    {
        font-family: 'Roboto', sans-serif;
        font-weight: 100;
        width:450px;
        text-align: right;
        display: inline-block; 
        padding:30px;
        margin 100px 0 0 0 
    }

    .textoServicios3
    {
        font-family: 'Roboto', sans-serif;
        font-weight: 100;
        width:450px;
        text-align: right;
        display: inline-block; 
        float:left;
        padding:30px;
        margin 100px 0 0 0 
    }

    .imgServicios1
    {
        width:380px;
        height: 260px;
        padding:30px;

    }

    .imgServicios2
    {
        width:438px;
        height:299px;
        float: left;
        display:inline-block;
    }

    .imgServicios3
    {
        width:380px;
        height: 260px;
        padding:30px;

    }

    /* -- Formato  NOSOTROS -- */

    .tablanosotros
    {
        padding:20px;
        margin-left: auto;
        margin-right: auto;
    }

    /* Estilos CONTACTO.HTML */

    .contacto
    {
        grid-area: tit-contacto;
        color: #ffffff ;
        background: linear-gradient(to right,#000046, #1cb5e0);
        font-family: 'Roboto', sans-serif;
        height:50px;
        width:100%;
    }

    .columnaDerecha
    {
        float:relative;
    }

    .datosContacto
    {
        grid-area:datos-contacto;
        display:flex;
        margin: 15% 0 0 0;
        float: right;
        font-family: 'Roboto Mono', monospace;
        padding:2%;
        text-align:right;
        margin-left: 12%;
    }

    .rrss
    {
        grid-area:redes;
        float: right;
        font-family: 'Roboto Mono', monospace;
        padding:2%;
        text-align:right;
        margin-left: 12%;
    }
    .icono-rss
    {
        font-family: 'Roboto Mono', monospace;
    }   

    .mapa
    {
        float:left;
        width:560px;
        height:275px;
        margin-top:30px;
        margin-left:20px;
        box-shadow: 12px 12px 5px grey;
    }

    .miFormulario
    {
        grid-area:formulario;
    }

    /* FORMULARIO */

    .formulario
    {   
        background: linear-gradient(to right,#000046, #1cb5e0);
        font-family: 'Roboto Mono', monospace;
        color: white;   
        padding:2%;
    }

    .campo
    {
        font-family: 'Roboto Mono', monospace;
        font-size: medium;
        padding: 10px;
    }

    .input-formulario
    {
        margin:3px 0 0 30px;
    }

    .textosFormulario
    {
        float: left;
        font-family: 'Roboto Mono', sans-serif;
        margin:0 0 0 30px;
    }

    /* ACORDEON de las FAQ */


    .acordeon
    {
        margin: 0 0 1% 2%;
        font-family: 'Roboto Mono', monospace;
        background: linear-gradient(to right,#000046, #1cb5e0);
        max-width: 55%;
        box-shadow: 0 0 10 rgb(39, 35, 35);
        border-radius: 0px;
        overflow: hidden;
    }

    .acordeon_etiqueta
    {
        padding:1% 1%;
        display: block;
        color:white;
        font-weight: 350;
        cursor: pointer;
        position:relative;
        transition: background 0.1s;
        
    }

    .acordeon_etiqueta:hover
    {
        background: #2a2255;
        color:white;
    }

    .acordeon_etiqueta::after 
    {
        content: "";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 20px;
        width: 12px;
        height: 6px;
        background-image: url('data:image/svg+xml;utf8,<svg width="100" height="50" xmlns="http://www.w3.org/2000/svg"><polygon points="0,0 100,0 50,50" style="fill:%23FFFFFF99;" /></svg>');
        background-size: contain;
        transition: transform 0.4s;
    }

    .acordeon-contenido
    {
        background:linear-gradient(to right,#000046, #1cb5e0);
        color:white;
        margin-left:2%;
        display:none;
    }

    .acordeon_opcion
    {
        display:none;
    }

    .acordeon_opcion:checked ~ .acordeon-contenido
    {
        display:block;
    }

    .acordeon_opcion:checked ~ .acordeon_etiqueta::after
    {
        transform: translateY(-50%) rotate(0.5turn);
    }

    /* PIE DE PAGINA */

    .pie
    {
        grid-area: el-pie;
       /* position: relative;*/
        /* top:70vh; */
        margin-top:10%;
        font-family: 'Roboto', sans-serif;
        /*font-size: 33px;*/
        text-align: center;
        text-decoration-color: #ffffff;
        color:#ffffff;
        background: linear-gradient(to right,#000046, #1cb5e0);
    }
}