/* ACORDEON PARA FAQ */

.contenedorAcordeon {
    grid-area: accordion;
  }
  
  .acordeon {
    margin: 0 0 1% 2%;
    font-family: 'Roboto Mono', monospace;
    background: linear-gradient(to right, #000046, #1cb5e0);
    max-width: 95%;
    box-shadow: 1px 1px 1px 10px rgb(39, 35, 35);
    border-radius: 0px;
    overflow: hidden;
  }
  
  .acordeon_etiqueta {
    padding: 1% 1%;
    display: block;
    color: white;
    font-weight: 350;
    cursor: pointer;
    position: relative;
    transition: background 0.1s;
  
    &:hover {
      background: #2a2255;
      color: white;
    }
  
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 20px;
      width: 12px;
      height: 6px;
      background-image: url('data:image/svg+xml;utf8,<svg width="100" height="50" xmlns="http://www.w3.org/2000/svg"><polygon points="0,0 100,0 50,50" style="fill:%23FFFFFF99;" /></svg>');
      background-size: contain;
      transition-delay: 0.5s;
    }
  }
  
  .acordeon-contenido {
    background: linear-gradient(to right, #000046, #1cb5e0);
    color: white;
    margin-left: 2%;
    display: none;
  }
  
  .acordeon_opcion {
    display: none;
  
    &:checked ~ {
      .acordeon-contenido {
        display: block;
      }
  
      .acordeon_etiqueta::after {
        transform: translateY(-50%) rotate(0.5turn);
      }
    }
  }