/* ACORDEON PARA FAQ */

.contenedorAcordeon {
    grid-area: accordion;
  }
  
  .acordeon {
    margin: 0 0 1% 2%;
    font-family: 'Roboto Mono', monospace;
    background: $degrade;
    max-width: 95%;
    box-shadow: 1px 1px 1px 10px rgb(39, 35, 35);
    border-radius: 0px;
    overflow: hidden;
  }
  
  .acordeon_etiqueta {
    padding: 1% 1%;
    display: block;
    color: $blanco;
    font-weight: 350;
    cursor: pointer;
    position: relative;
    transition: background 0.1s;
      &:hover {
        background: $violeta;
        color: $blanco;
    }
        &::after {
          content: "";
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: 20px;
          width: 12px;
          height: 6px;
          background-image: url($flechita);
          background-size: contain;
          transition-delay: 0.5s;
    }
  }
  
  .acordeon-contenido {
    background: $degrade;
    color: $blanco;
    margin-left: 2%;
    display: none;
  }
  
  .acordeon_opcion {
    display: none;
  
    &:checked ~ {
      .acordeon-contenido {
        display: block;
      }
  
      .acordeon_etiqueta::after {
        transform: translateY(-50%) rotate(0.5turn);
      }
    }
  }